<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="@Url.Content("../../../../favicon.ico")">

    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>


</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <!--Zrobić jakiegoś drop-Down Lista !-->
                <li class="nav-item ">
                    <a class="nav-link text-primary" href="@Url.Action("Pozycje","Platforma",new { nazwa = "Windows" })">Windows</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="@Url.Action("Pozycje","Platforma",new { nazwa = "Linux" })">Linux</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary" href="@Url.Action("Pozycje","Platforma", new { nazwa = "Telefon" })">Telefony</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="@Url.Action("Pozycje","Platforma", new { nazwa = "Konsole" })">Konsole</a>
                </li>
            </ul>

            <div class="nav-link form-inline my-2 my-lg-0" style="">
                <a href="@Url.Action("Elementy","Gatunek", new { nazwaGatunku = "Horrory" })" style="text-decoration: none">Horrory</a>
                <a href="@Url.Action("Elementy","Gatunek", new { nazwaGatunku = "Fantastyka" })" style="text-decoration: none">Fantastyka</a>
            </div>
        </div>
    </nav>




    <main role="main">
        
        <!--Main Section-->
        <div class="jumbotron bg-secondary">
            <div class="container">
                <h3>@Html.MvcSiteMap().SiteMapPath()</h3>
                <p>@RenderBody()</p>
            </div>
        </div>
        <!--Main Section-->
    </main>

        
    @Html.Action("GenerateRandomGames", "Gra")

    <footer id="footer" class="bg-dark text-light text-center">
        <!-- Container-fluid is going all the way across.. Czyli to bedzie sie rozciagało na całą stronę  -->
        <div class="container-fluid">
            <div class="mx-auto p-4">Company Inforamtion(c)2018</div>
        </div>
    </footer>

    @RenderSection("Scripts", required: false);

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
</body>

</html>