@model rgik.ViewModels.HomeViewModel
@using rgik.Infrastucture

@{
    ViewBag.Title = "Index";
}

<h2>Oto strona preneztująca recenzje książek oraz gier! </h2>

<span style="color: red;">@ViewBag.Error</span>

<h3>Oto lista najlepiej ocenianych gier oraz książek</h3>

<ul class="list-unstyled">
    @foreach(var gra in Model.GryNajlepiejOcenianie)
    {
        <li>
            <a href="@Url.Action("Recenzja","Gra", new { nazwa = gra.NazwaGry })">
                <div style="padding:20px; float:left">
                    <img src="@Url.ObrazkiSciezka(gra.NazwaPlikuObrazka)" />
                    <br />
                    @gra.NazwaGry
                    <br />
                    @gra.OpisSkrocony
                </div>
            </a>
        </li>
    }
</ul>

<div style="clear:both;"></div>

<ul class="list-unstyled">
    @foreach (var ksiazka in Model.KsiazkiNajlepiejOceniane)
    {
        <li>
            <a href="@Url.Action("Recenzja","Ksiazka", new { nazwa = ksiazka.NazwaKsiazki })">
                <div style="padding:20px; float:left">
                    <img src="@Url.ObrazkiSciezka(ksiazka.NazwaPlikuObrazka)" />
                    <br />
                    @ksiazka.NazwaKsiazki
                    <br />
                    @ksiazka.OpisSkrocony
                </div>
            </a>
        </li>
    }
</ul>