@model rgik.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section SectionTitle
{
    Zaloguj się
}

<div>
    
    @using (@Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
    {
        @Html.AntiForgeryToken() <!--Secure site by no allowing users to login from diffrent sites-->

        <div id="login-error">
            @Html.ValidationMessage("loginerror", "")
        </div>


        <table id="login-table" style="margin-left: auto; margin-right: auto">
            <tr>
                <td>@Html.LabelFor(o => o.Email, "E-mail:")</td> <!--Define a label for the e-mail -->
                <td>
                    @Html.TextBoxFor(o => o.Email)               <!--Define a TextBox so that user can put his e-mail so that it can be send with fofm-->
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(o => o.Email) <!--In case user will provide an email for example without symbol the answer will come from the server!-->
                    </div>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(o => o.Password, "Haslo:")</td>
                <td>
                    @Html.PasswordFor(o => o.Password)
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(o => o.Password)
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div class="checkbox" style="margin-bottom: 10px;">
                         @Html.CheckBoxFor(m => m.RememberMe, new { @checked = "checked" })
                         @Html.LabelFor(m => m.RememberMe)
                    </div>

                    <input type="submit" value="Zaloguj" class="submitLink" style="height: 40px;"/>
                </td>
            </tr>
        </table>
    }

    <!-- In case user does not have account provide a link to actual action responsible for creating an account! -->
    <div style="text-align: center;">
        <a href="@Url.Action("Register")">Nie mam jeszcze konta</a> 
    </div>

</div>

@section Scripts
{
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}